@import "bootstrap/bootstrap.less";
@import "flatly/theme.less";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
}

.title {
    text-align: center;
}

.label {
    text-align: right;
    color: black;
    font-size: 21px;
}

.center {
    text-align: center;
}

.error {
    font-size: 18px;
    marign-top: 2px;
}

.first-name {
	margin-right: 0;
	padding-right: 5px;
}

.last-name {
	margin-left: 0;
	padding-left: 5px;
}

.student-teacher-buttons {
	margin-bottom: 20px;
}

#signup .row {
    margin-bottom: 3px;
}

.error {
	color: #e74c3c;
}